{% extends "educatorsmaster.html.twig" %}
{% block content %}

    {% if errorList %}
        <ul>
            {% for error in errorList %}
                <li>{{ error }}</li>
                {% endfor %}
        </ul>
    {% endif %}
    <form method="post">
        <label>name of the quiz : </label>
        <input type="text" name="quizname">
        <input type="submit" value="create new quiz"><br><br>
    </form>    
{% endblock %}
