<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>Get Quizzing</title>
        <meta name="Marilou" content="Get Quizzing">

        <link rel="stylesheet" href="/styles.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script>
            $(document).ready(function () {
            });
        </script>
    </head>

    <body>

        <nav id="navigation">
            <ul id="navUL">
                <li><a href="/educatorshome">CREATE QUIZZES</a></li>
                <li><a href="/existingquizzes">EXISTING QUIZZES</a></li>
                <li><a href="/account">ACCOUNT</a></li>
                <li><a href="/logout">LOGOUT</a></li>
            </ul>
        </nav>
        <main id="educatormain">
        <h1 id="greeting">Hi<span> {{educator.firstName}} </span>it's good to see you.</h1><br>
        {% block content %}{% endblock %}</main>
    </body>
</html>
