<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>Get Quizzing</title>
        <meta name="Marilou" content="Get Quizzing">

        <link rel="stylesheet" href="/styles.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script>
            $(document).ready(function () {
                
            });
        </script>
    </head>

    <body id="indexBodylearner">
        <nav id="educatorNav">
            <ul>
                <li class="horizontalNavigation"><a href="/">EDUCATOR</a></li>
                <li class="horizontalNavigation">LEARNER</li>
            </ul>
        </nav><br>
        <main id="mainindex">
            <form method="post">
            <input type="text" class="indexTextBox" value="email" name="email">
            <input type="password" class="indexTextBox" value="password" name="password"><br><br>
            <input type="submit" name="learnerLogIn"><br><br>
            <p>Dont have an account yet? <a href="/registerlearner">Register!</a></p>
            </form>
        </main>
    </body>
</html>
